<%= semantic_form_for [:admin, @about_page], url: admin_staticpages_path('about'), method: :put do |f| %>
  <h3>About Page</h3>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :content, as: :text, input_html: { rows: 6 } %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: "Update About Page" %>
  <% end %>
<% end %>

<hr>

<%= semantic_form_for [:admin, @contact_page], url: admin_staticpages_path('contact'), method: :put do |f| %>
  <h3>Contact Page</h3>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :content, as: :text, input_html: { rows: 6 } %>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit, label: "Update Contact Page" %>
  <% end %>
<% end %>
