<h1 class="text-center my-4">Welcome to Technova Store</h1>

<div class="container">
  <!-- Search + Category Filter Form -->
  <div class="container mb-4">
    <%= form_with url: products_path, method: :get, local: true, class: "row g-3 align-items-center" do %>
      <div class="col-auto">
        <%= label_tag :q, "Search", class: "col-form-label" %>
      </div>
      <div class="col-auto">
        <%= text_field_tag :q, params[:q], class: "form-control", placeholder: "Search products..." %>
      </div>

      <div class="col-auto">
        <%= label_tag :category_id, "Category", class: "col-form-label" %>
      </div>
      <div class="col-auto">
        <%= select_tag :category_id,
            options_from_collection_for_select(@categories, :id, :name, params[:category_id]),
            include_blank: "All Categories",
            class: "form-select" %>
      </div>

      <!-- Special Filters Dropdown -->
      <div class="col-auto">
        <%= label_tag :filter, "Special Filters", class: "col-form-label" %>
      </div>
      <div class="col-auto">
        <%= select_tag :filter,
            options_for_select([["None", ""], ["On Sale", "on_sale"], ["New Arrivals", "new"]], params[:filter]),
            class: "form-select" %>
      </div>

      <div class="col-auto">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <!-- Product Cards -->
  <div class="row">
    <%= render partial: "product_card", collection: @products, as: :product %>
  </div>

  <!-- Pagination -->
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @products %>
  </div>
</div>
