<h1 class="text-center my-4">Welcome to Technova Store</h1>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-3 mb-4">
        <div class="card h-100">
          <% if product.image.attached? %>
            <%= image_tag product.image.variant(resize_to_limit: [300, 200]), class: "card-img-top" %>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text mb-1">Price: $<%= product.price %></p>
            <p class="card-text mb-2 text-muted">Category: <%= product.category.name %></p>
            <%= link_to "View Product", product_path(product), class: "btn btn-primary mt-auto" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
